{% extends 'shop/base.html' %}

{% block content %}
    <!-- Start Item Details -->
    <section class="item-details section">
        <div class="container">
            <div class="top-area">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-images">
                            <main id="gallery">
                                <div>
                                {% for img in main_images %}
                                    {% if img.product.id == object.id %}
                                    <img src="{{ img.image.url }}" id="current" alt="#" height="500px">
                                    {% endif %}
                                {% endfor %}
                                </div>
                                <div class="images">
                                {% for img in images %}
                                    {% if img.product.id == object.id %}
                                    <img src="{{ img.image.url }}" class="img" alt="#" width="300" height="100">
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </main>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-info">
                            <div style="margin-bottom: 10px">From {{ object.user.username }}</div>
                            <h2 class="title">{{ object.title }}</h2>
                            <ul class="review">
                                {% for _ in product.stars %}
                                    <i class="lni lni-star-filled"></i>
                                {% endfor %}

                                {% for _ in product.empty_stars %}
                                    <i class="lni lni-star"></i>
                                {% endfor %}
                            </ul>
                            <p class="category"><i class="lni lni-tag"></i>{{ product.category }}</p>
                            <h3 class="price">{{ object.price }}</h3>
                            {% if user.is_authenticated %}
                                <form method="post" action="{% url 'product-review' product.id %}">
                                    {% csrf_token %}
                                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                                        <div class="col-xl-1" style="width: 225px; margin-right: 25px">
                                            <label for="color">Review</label>
                                            <select class="form-control" name="star_rating">
                                                <option value="1">1 star</option>
                                                <option value="2">2 stars</option>
                                                <option value="3">3 stars</option>
                                                <option value="4">4 stars</option>
                                                <option value="5">5 stars</option>
                                            </select>
                                        </div>
                                        <div class="button col-xl" style="margin-top: 25px">
                                            <button style="width: 200px;" class="btn"><i class="lni lni-star"></i> Review</button>
                                        </div>
                                    </div>
                                </form>
                            <div class="bottom-content">
                                <div class="row align-items-end">
                                    <div class="col-lg-4 col-md-4 col-12" style="margin-right: 50px;">
                                        <div class="button cart-button">
                                            <form method="post" action="{% url 'add-to-cart' %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                                <button class="btn" style="width: 200px;"><i class="lni lni-cart"></i>Add To Cart</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="wish-button">
                                            <form method="post" action="{% url 'add-to-wishlist' %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                                <button class="btn" style="width: 200px;"><i class="lni lni-heart"></i> To Wishlist</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-details-info">
                <div class="single-block">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="info-body custom-responsive-margin">
                                <h4>Details</h4>
                                <p>{{ object.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Item Details -->

    <!-- ========================= JS here ========================= -->
    <script type="text/javascript">
        const current = document.getElementById("current");
        const opacity = 0.6;
        const imgs = document.querySelectorAll(".img");
        imgs.forEach(img => {
            img.addEventListener("click", (e) => {
                //reset opacity
                imgs.forEach(img => {
                    img.style.opacity = 1;
                });
                current.src = e.target.src;
                //adding class
                //current.classList.add("fade-in");
                //opacity
                e.target.style.opacity = opacity;
            });
        });
    </script>
{% endblock %}