{% extends 'shop/base.html' %}
{% block content %}
<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8 bg-light-grey">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">{{ user_cart.items_in_cart.count }} items</h6>
                  </div>
                    {% for item in user_cart.items_in_cart.all %}
                      {% for img in main_images %}
                        {% if item.product.id == img.product.id %}
                          <hr class="my-4">
                       ID : {{ item.product.id }}
                          <div class="row mb-4 d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                              <img
                                src="{{ img.image.url }}"
                                class="img-fluid rounded-3 img-size" alt="#">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                              <h5 class="title">
                                <a class="text-black mb-0" href="{% url 'product-detail' item.product.id %}">{{ item.product.title }}</a>
                              </h5>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                <form method="post" action="{% url 'change-quantity' %}">
                                    {% csrf_token %}

                              <button class="btn btn-link px-2" type="submit">
                                          <i class="fas fa-minus">
                                  <input type="hidden" name="product_id" value="{{ item.id }}">
                                      <input type="hidden" name="operation" value="minus">
                                          </i>
                             </button>
                                </form>
                                <form method="post" action="{% url 'change-quantity' %}">
                                    {% csrf_token %}
                                      {{ item.quantity }}
                                    <button class="btn btn-link px-2" type="submit">
                                  <i class="fas fa-plus">
                                      <input type="hidden" name="product_id" value="{{ item.id }}">
                                      <input type="hidden" name="operation" value="plus">
                                  </i>
                              </button>
                                </form>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                              <h6 class="mb-0">{{ item.product.price }}</h6>
                            </div>
                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                              <a href="{% url 'product-cart-delete' item.product.id %}" class="text-muted"><i class="fas fa-times"></i></a>
                            </div>
                          </div>
                        {% endif %}

                      {% endfor %}
                    {% endfor %}
                  <div class="pt-5">
                    <h6 class="mb-0"><a href="{% url 'home' %}" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">{{ user_cart.items_in_cart.count }} items</h5>
                    <h5>{{ sum_price }}</h5>
                  </div>

                  <h5 class="text-uppercase mb-3">Give code</h5>

                  <div class="mb-5">
                    <div class="form-outline">
                      <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea2">Enter your code</label>
                    </div>
                  </div>
                      <div style="border: solid; padding: 10px 0 0 10px; border-radius: 5px; margin-bottom: 20px">
                        <h5 class="text-uppercase mb-3">Shipping</h5>
                        <label class="my-color-text">
                          <input type="radio" name="shipping" value="Free" required>
                            Free shipping $0
                        </label>
                        <br>
                        <label class="my-color-text">
                          <input type="radio" name="shipping" value="Next_day_air" required>
                            Next day air $15
                        </label>
                      </div>
                      <hr class="my-4">

                      <div class="d-flex justify-content-between mb-5">
                        <h5 class="text-uppercase">Total price</h5>
                        <h5>$<a id="total_price">{{ total_price.amount }}</a></h5>
                      </div>
                      <button style="padding: 5px 30px" type="submit" class="btn btn-primary btn-block btn-lg"
                                data-mdb-ripple-color="dark">Next</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
        <script>
        document.addEventListener('DOMContentLoaded', function() {
            const radioButtons = document.querySelectorAll('input[type="radio"]');
            const totalPriceElement = document.getElementById('total_price');
            let start_price = parseFloat(totalPriceElement.textContent);
            console.log(start_price);
            const prices = {
                Free: 0,
                Next_day_air: 15,
            };

            function updateTotalPrice(){
                let selectOption;
                for (const radioButton of radioButtons) {
                    if (radioButton.checked) {
                        selectOption = radioButton.value;
                        console.log(selectOption);
                        break;
                    }
                }
                const shippingPrice = parseFloat(prices[selectOption]);
                totalPriceElement.textContent = (start_price + shippingPrice).toFixed(2);
            }

            for (const radioButton of radioButtons) {
                radioButton.addEventListener('click', updateTotalPrice);
            }

        });
    </script>
{% endblock %}
